<h1>Edit {{ GardenTips.title }} Gardening Tip:</h1>

<form 
  <p>
    <label>Name:</label>
    <input type="text" value="{{GardenTips.name}}" name="name" />
  </p>
  <p>
    <label>Description:</label>
    <input type="text" value="{{GardenTips.description}}" name="description" />
  </p>
  <p>
    <label>Url Link:</label>
    <input type="text" value="{{GardenTips.url}}" name="url" />
  </p>
  <p>
    <label>Search Tags:</label>
    <input type="text" value="{{GardenTips.tags}}" name="tags" />
  </p>
  <p>
    <label>Author:</label>
    <input type="text" value="{{GardenTips.author}}" name="author" />
  </p>
</form>
</br>

<form action="/{{GardenTips.id}}?_method=put" method="post">
<input type="submit" value="Update">
</form>
</br>

<form action="/{{GardenTips.id}}?_method=delete" method="post">
  <input type="submit" value="Remove">
</form>