<h1>{{this.title}}</h1>

    <img src="../public/css/images/{{this.picture}}">
    <p><b>Description:</b> {{this.description}}</p>
    <p><b>Plants:</b> {{this.ingredients}}</p>
    <p><b>Instructions:</b> {{this.instructions}}</p>
    <p><b>Author:</b> {{this.author}}</p>

    <a href="/edit/{{this.id}}" class="boo">Edit this Garden Tip</a>