<h1>Garden Tips: {{gardenTip.name}}</h1>
{{!-- still need to load images (not sure if users will be able to have this ability) --}}
<img src="../public/css/images/{{gardenTip.picture}}">
<p><b>Name:</b> {{gardenTip.name}}</p>
<p><b>Description:</b> {{gardenTip.description}}</p>
<p><b>URL:</b> {{gardenTip.url}}</p>
<p><b>Search Tags:</b> {{gardenTip.tags}}</p>
<p><b>Author:</b> {{gardenTip.author}}</p>

<a href="/edit/{{gardenTip.id}}" class="boo">Edit this Garden Tip</a>