<h1>Garden Tips: {{GardenTip.name}}</h1>
{{!-- still need to load images (not sure if users will be able to have this ability) --}}
<img src="../public/css/images/{{GardenTip.picture}}">
<p><b>Name:</b> {{GardenTip.name}}</p>
<p><b>Description:</b> {{GardenTip.description}}</p>
<p><b>URL:</b> {{GardenTip.url}}</p>
<p><b>Search Tags:</b> {{GardenTip.tags}}</p>
<p><b>Author:</b> {{GardenTip.author}}</p>

<a href="/edit/{{GardenTip.id}}" class="boo">Edit this Garden Tip</a>